# app data
.store

# mac
.DS_Store

# windows
Thumbs.db

# vscode
**/.vscode

# codec
core

# npm
**/node_modules
**/.npmrc
**/.npm

# Log files
**/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# apps
*.app
*.exe
*.war

# media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# typescript
dist
src
!src/**/*.ts

# git
!.keep
!.gitkeep
